$body-bg: rgb(250, 250, 250);
$body-color: rgb(81, 81, 81);

$block-bg: rgb(255, 255, 255);

$color-primary: rgb(232, 180, 0);
$color-secondary: rgb(255, 206, 0);

$color-link: rgb(146, 146, 146);
$color-link-hover: rgb(102, 102, 102);
$color-link-border: rgb(188, 188, 188);
$color-link-border-hover: rgb(146, 146, 146);

$color-input: rgb(81, 81, 81);
$color-border-input: rgb(218, 218, 218);
$color-border-input-focus: $color-primary;

$color-button-bg: $color-primary;
$color-button-bg-hover: $color-secondary;
$color-button-text: rgb(255, 255, 255);
$color-button-text-hover: rgb(255, 255, 255);

$dropdown-menu-bg: rgb(255, 255, 255);
$dropdown-menu-bg-hover: $color-primary;
$dropdown-menu-text: rgb(81, 81, 81);
$dropdown-menu-text-hover: rgb(255, 255, 255);

$color-label: rgb(93, 93, 93);

$admin-bg: rgb(250, 250, 250);
$admin-header-bg: rgb(255, 255, 255);
$admin-nav-bg: rgb(250, 250, 250);
$admin-nav-link: rgb(81, 81, 81);
$admin-nav-link-active: rgb(81, 81, 81);
$admin-nav-link-active-border: $color-primary;
